h1.spacing {
    word-spacing: 10px;
}
h2.spacing {
    word-spacing: -5px;
}
h1.shadow {
  text-shadow: 4px 3px 5px red;
}
h2.shadow {
    text-shadow: 3px 2px 5px rgb(0, 255, 136);
  }
p.serif {
    font-family: "Times New Roman", Times, serif;
}
p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
span.normal {
    font-style: normal;
}
span.italic {
    font-style: italic;
}
span.oblique {
    font-style: oblique;
}
h1.font {
    font-size: 40px;
}
h2.font {
    font-size: 30px;
}
p.font {
    font-size: 2px;
}
/* 16 * 2.5em = 40px */
h1.fontem {
    font-size: 2.5em;
}
/* 1.875em *16 = 30px*/
h2.fontem {
    font-size: 1.875em;
}
/* 0.875em * 16 = 14px */
p.fontem {
113
LOTE 2
    font-size: 0.875em;
}
p.fweight-normal {
    font-weight: normal;
}
p.fweight-light {
    font-weight: lighter;
}
p.fweight-thick {
    font-weight: bold;
}
p.thicker {
/* El máximo valor es 900 */
    font-weight: 900;
}
p.fvariant-normal {
    font-variant: normal;
}
p.fvariant-small {
    font-variant: small-caps;
}
p{
    font-family: 'Macondo', cursive;
}
p.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.middle > * {
    vertical-align: middle;
} 

.top > * {
    vertical-align: top;
}
.bottom > * {
    vertical-align: bottom;
}
h2 {
    display: inline-block;
    margin: 0;
    width: 150px;
    text-align: right;
    font: bold 20px Sans-Serif;
}
div{
margin: 0 0 30px 0;
padding: 10px;
}