h1+p {
    color: palevioletred;
    background-color: palegreen;

}
h2~p{
    color: darkorchid;
    background-color: darkorange;
}
p{
    color: royalblue;
    font-weight: 700;
}
div >p {
    color: blue;
    background-color: orangered;
}
div p {
    color: magenta;
    background-color: aquamarine;
}
